*{
	margin:0;
	padding:0;
}

body{
	font-size:12;
	background-image: url('/images/background.png');
}

.container{
	margin-top:30px;
}

.page{
	border-radius:7px;
	box-shadow:0px 0px 7px #999;
	min-height:700px;
}

.form_row{
	margin-bottom:15px;
}

.content{
	padding-bottom:20px;
}

/****************************
 * Overwrite bootstrap value
*****************************/
/**The page navbar */
.navbar{
	border-bottom:1px solid #ccc;
}

/** 
	This was added to leave a line under the navbar 
	when in mobile mode but it was not usefull in 
	desktop mode 
*/
@media screen and (max-width:768px){
	.navbar-header{
		border-bottom:1px solid #ccc;
	}
}

/** Navbar button for mobile */
.navbar-toggle{
	border:1px solid #666;
}

/** Line in the navbar */
.icon-bar{
	background-color:#666;
}

.table>tbody>tr.active>td{
	background-color:#ccc;
}

.table-responsive{
	min-height:60px;
}

@media screen and (max-width:768px){
	.table-responsive{
		margin-right:15px;
		margin-left:15px;
		width:auto;
	}
}

.table-bordered>tbody>tr>td{
	border-bottom:none;
	border-top:none;
}

.form-control-feedback{
	margin-right:10px;
}