*{
	margin:0;
	padding:0;
}

body{
	font-size:12;
	background-image: url('/images/background.png');
}
.page{
	border-radius:7px;
	box-shadow:0px 0px 7px #999;
	min-height:700px;
}

.form_row{
	margin-bottom:15px;
}

.content{
	padding-bottom:20px;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}
.center{
	text-align: center;
}

.splitter{
	border:1px solid #777;
	margin-bottom:10px;
}

.hide{
	display:none;
}

.show{
	display:block;
}

h2{
	border-bottom:2px solid #70A0CC;
	font-style: italic;
}

/**************************************
 * OrderConfirmationMessageBox value
**************************************/
#Overlay{
	position: absolute;
	left: 50%;
	top: 120px;
	height:300px;
	z-index: 1002;
}

.innerOverlay{
	position: relative;
	left:-50%;
	border:2px solid #111;
	border-radius:7px;
	background-color: #EEE;
	padding:10px;
	padding-left:60px;
	padding-right:60px;
}

.innerOverlay > input {
	position:relative;
	left:45%;
	padding:3px;
	padding-right: 20px;
	padding-left:20px;
}

.fadeDiv{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index: 1001;
	background-color:rgba(50,50,50,0.7);
}

.messageInfo{
	margin-left:20px;
}

/****************************
 * Overwrite jQuery value
*****************************/
.ui-spinner-input{
	width:45px;
}
/****************************
 * Overwrite bootstrap value
*****************************/
/**The page navbar */
.navbar{
	border-bottom:1px solid #ccc;
}

.container-fluid{
	background-color:#00458A;
}

.container-fluid a{
	color:#FFF;
}

.nav>li>a:hover{
	background-color:#294E9B;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color:#294E9B;	
}

.navbar-nav>li>.dropdown-menu{
	background-color:#00458A;
}

.navbar-nav .open .dropdown-menu>li>a{
	color:#FFF;
}
.navbar-nav .open .dropdown-menu>li>a:hover{
	background-color:#294E9B;	
}

.dropdown-menu .divider{
	background-color:#7588AF;
}


/** 
	This was added to leave a line under the navbar 
	when in mobile mode but it was not usefull in 
	desktop mode 
*/
@media screen and (max-width:768px){
	.navbar-header{
		border-bottom:none;
	}
}

/** Navbar button for mobile */
.navbar-toggle{
	border:1px solid #FFF;
}

/** Line in the navbar */
.icon-bar{
	background-color:#FFF;
}

/** Bootstrap validator message styles*/
.form-control-feedback{
	margin-right:10px;
}

.has-error .form-control-feedback{
	top:0px;
}

.has-error .form-control-feedback,
.has-success .form-control-feedback{
	top:0px;
}

/** Table style **/
.table{
	border-radius: 9px;
	border-collapse:separate;

}

.table-responsive{
	min-height:60px;
	max-height: 300px;
	overflow-y:auto;
	overflow-x: hidden;
}

@media screen and (max-width:768px){
	.table-responsive{
		margin-right:15px;
		margin-left:15px;
		width:auto;
		overflow-x: hidden;
	}
}

.table>tbody>tr.active>td{
	background-color:#ccc;
}

.table-bordered>tbody>tr>td{
	border-bottom:none;
	border-top:none;
}

.table > thead{
	background-color:#70A0CC;
}

.table > thead > tr > th{
	border:none;
}
.table > thead > tr :first-child{
	border-top-left-radius: 9px;	
}

.table > thead > tr :last-child{
	border-top-right-radius: 9px;	
}