/***********************************
 *	Login page
***********************************/
.login{
	margin-top:30%;
	box-shadow:0px 0px 16px 9px #999;
	border-radius:5px;
	padding:10px
}

.login_register_link{
	margin-bottom:10px;
}

/***********************************
 *	Register page
***********************************/
.register{
	margin-top:35px;
}

/***********************************
 *	Profil pages
***********************************/

.profil_link_button{
	width:80%;
}

/***********************************
 *	Menu page
***********************************/
.money{
	text-align: right;
}